:host {
  display: inline-block;
  color: black;
}

.xLabel {
  font-size: 0.7em;
  font-weight: 300;
}
.xAxis path {
  fill: none;
  stroke-width: 2px;
}

.tip {
  font-weight: 400;
}

svg text::selection { background: none; }